.sec{
    height: 650px;
    /* background-image: url("../assets/backgroundimage.jpg"); */
    background-image: url("src\assets\backgroundimage.jpg");
    background-size: 100%;
    background-size: cover;
}

.col-md-4{
    background-color: indigo;
    color:whitesmoke;
    height:400px;
    width:275px;
    text-align: center;
    margin-top: 50px;

}
 .col-md-7{
     
    height:400px;
    background-color: whitesmoke;
    width:800px;
    margin-left: 0px;
    margin-top: 50px;
 }
 .btn-primary {
    background-color: rgb(84, 42, 112); 
    border-color: indigo; 
    color: #fff; 
    font-weight: bold; 
     
    font-size: 16px; 
    border-radius: 5px; 
    margin-left: 500px;
    margin-top: 50px ;
  }