 <div class="sec"> 
  <div class="container"> 
    <div class="row">
      <div class="col-md-4">
        <h1 style="margin-top: 50%;"> Giglabz</h1>
        <p>Powering work in the virtual age</p>
        <h2>...</h2>
      </div>
      <div class="col-md-7">
        <h2 style="text-align: center;margin-top: 30px;">Instruction</h2>
        <ol style="margin-top:40px; ">
          <li>Duration of test will be 1 hour</li>
          <li>Click on Next button to attempt next question</li>
          <li>Click submit once you finish the test</li>
          <li>Do not spend much time on any particular question . You might loose out time for completing the rest of question</li>
          <li>Make sure that you have a stable internet connection</li>
          <li>You will be disqualified if you navigate to other tabs or open other browser</li>

        </ol>
        <button type="button" (click)="start()"class="btn btn-primary">Start</button>

      </div>
    </div>
  </div>
  