<div class="sec">

<div class="container"> 
    <div class="row">
      <div class="col-md-4">
        <h1 style="margin-top: 50%;"> Giglabz</h1>
        <p>Powering work in the virtual age</p>
        <h2>...</h2>
      </div>
      <div class="col-md-7">
        <p>2/10</p>
        
            <p style="margin-top: 50px; margin-left: 50px;">2.What is the difference between Collection and Stream?</p>
            <input type="text">
        
        <button type="button"(click)="previous()"class="btn btn-primary">Previous</button>
        <button type="button" (click)="next()"class="btn btn-primary">Next</button>
       
      </div>
     

   
       
     
     </div>
     </div>
     </div>

