<div class="sec">

<div class="container"> 
    <div class="row">
      <div class="col-md-4">
        <h1 style="margin-top: 50%;"> Giglabz</h1>
        <p>Powering work in the virtual age</p>
        <h2>...</h2>
      </div>
      <div class="col-md-7">
        <div class="coll">
        <h1> CONGRATULATIONS</h1>
        
        <pre style="margin-left: 20px;
        margin-top:50px ;
        font-size:medium;"> You have successfully completed 
     the evaluation process </pre> 
                        </div>
                        
                    </div>
      </div>
      </div>
    </div>
