
<div class="sec">
<div class="container">
    <div class="row">
        <div class="col-md-4 Giglabz">
            <h1 style="margin-top: 50%;">Giglabz</h1>
            <br>
            <p>Powering work in the virt
                ual age</p>

            <h2>...</h2>
        </div>
        <div class="col Candidate">
            <h1 style="text-align: center;">Let's create your account!</h1>
            <p style="text-align: center;">Already have an account<a routerLink="/login"(click)="login()"> Log in!</a></p>
            <p style="text-align: center; margin-top:4px;color:indigo;font:bold"> Candidate</p>
                <div class="col register">
                        <form [formGroup]="registerForm"> 
                            <div class="user-detail">
                                <div class="input-box">
                                    <input type="text" formControlName="name" placeholder="Enter Full Name">
                                </div>
                                <div class="input-box">
                                    <input type="number" formControlName="number" placeholder="Enter Contact Person Number">
                                </div>
                                <div class="input-box">
                                    <input type="text" formControlName="email" placeholder="Enter Contact Email">
                                </div>
                                <div class="input-box">
                                    <input type="password" formControlName="password" placeholder="Create Your Password">
                                </div>
                                <div class="input-box">
                                    <input type="text" formControlName="experience" placeholder="Experience ">
                                </div>
                                <div class="input-box">
                                    <input type="text" formControlName="linkedprofile" placeholder="Enter LinkedIn Profile">
                                </div>
                                <div class="input-box">
                                    <input type="text" formControlName="role" placeholder="Role applied for">
                                </div>
                                <div class="input-box">
                                    <input type="text" formControlName="period" placeholder="Notice Period">
                                </div>
                                <div class="input-box">
                                    <input type="text" formControlName="skill" placeholder="Skill Set">
                                </div>
                                <div class="input-box">
                                    <input type="text" formControlName="organitaion" placeholder="Current Organitaion">
                                </div>
                            </div>
                        </form>
                        <button (click)="proceed()" type="button" style="color:white">PROCEED</button>
                    <p style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-c-circle" viewBox="0 0 16 16">
                            <path
                                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512" />
                        </svg>2021 Virtual All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  
